section.sustainability-2(class="section-py" setBackground="./img/bg-sustainability.png")
	.container-fluid 
		.wrapper(class="grid grid-cols-12")
			.col-left(class="xl:col-span-7 col-span-full xl:rem:pr-[270px]")
				h2.title(class="heading-1 font-semibold mb-4") Sustainability Development Strategy (2025–2030)
				.format-content(class="body-1 font-normal font-secondary")
					p Our sustainability strategy for 2025–2030 focuses on strengthening long-term competitiveness while advancing environmental and social value creation. The strategy is built around four core objectives aligned with the nature of the industrial lime sector.
			.col-right(class="xl:col-span-5 col-span-full xl:rem:pl-[23px]")
				.swiper-column-auto(class="relative effect pagination-dot")
					.swiper 
						.swiper-wrapper
							.swiper-slide
								.box-item
									.wrap-top 
										.number 01
									.wrap-bottom 
										h2.title(class="text-32 font-extrabold mb-8 text-white") Enhance Operational Efficiency and Resource Optimization
										.format-content(class="body-1 font-normal font-secondary text-white/80")
											p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perspiciatis architecto consectetur magni cupiditate dolores? Autem modi totam nam quam cumque molestias eum maiores ullam officia architecto, magni iure. Nobis.
											ul 
												li Optimize kiln performance and production processes to improve energy efficiency
												li Optimize kiln performance and production processes to improve energy efficiency
												li Optimize kiln performance and production processes to improve energy efficiency
							.swiper-slide
								.box-item
									.wrap-top 
										.number 02
									.wrap-bottom 
										h2.title(class="text-32 font-extrabold mb-8 text-white") Develop High-Quality, Sustainable Industrial Lime Solutions
										.format-content(class="body-1 font-normal font-secondary text-white/80")
											p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perspiciatis architecto consectetur magni cupiditate dolores? Autem modi totam nam quam cumque molestias eum maiores ullam officia architecto, magni iure. Nobis.
											ul 
												li Optimize kiln performance and production processes to improve energy efficiency
												li Optimize kiln performance and production processes to improve energy efficiency
												li Optimize kiln performance and production processes to improve energy efficiency
							.swiper-slide
								.box-item
									.wrap-top 
										.number 03
									.wrap-bottom 
										h2.title(class="text-32 font-extrabold mb-8 text-white") Develop High-Quality, Sustainable Industrial Lime Solutions
										.format-content(class="body-1 font-normal font-secondary text-white/80")
											p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perspiciatis architecto consectetur magni cupiditate dolores? Autem modi totam nam quam cumque molestias eum maiores ullam officia architecto, magni iure. Nobis.
											ul 
												li Optimize kiln performance and production processes to improve energy efficiency
												li Optimize kiln performance and production processes to improve energy efficiency
												li Optimize kiln performance and production processes to improve energy efficiency
					.wrap(class="flex items-center justify-between")
						.swiper-pagination
						.arrow-button(class="flex items-center gap-6")
							.btn.btn-sw-1.btn-prev
							.btn.btn-sw-1.btn-next