section.home-6
	.bg-pattern
		img(src="./img/bg_partent_2.svg", alt="")
	.container
		h2.block-title.text-center.text-white.uppercase.mb-10.font-bold(class="rem:text-[36px]" data-aos="fade-down" data-aos-duration="800") Cam kết chất lượng
		.wrapper
			-
				var commitmentList = [
					{
						title: "Giao hàng tận nơi",
						desc: "Sản phẩm sẽ được giao tận nơi và lắp đặt cho khách hàng",
						icon: "./img/icon_box.svg"
					},
					{
						title: "Hỏa tốc",
						desc: "Giao trong ngày đối với khu vực nội thành",
						icon: "./img/icon_box.svg"
					},
					{
						title: "An toàn tuyệt đối",
						desc: "Sản phẩm được bảo vệ an toàn, tránh hư hỏng trong quá trình vận chuyển",
						icon: "./img/icon_box.svg"
					},
					{
						title: "Hỗ trợ kỹ thuật",
						desc: "Sản phẩm sẽ được giao tận nơi và lắp đặt cho khách hàng",
						icon: "./img/icon_box.svg"
					},
					{
						title: "Bảo hành & hậu mãi",
						desc: "Hỗ trợ bảo hành và xử lý sự cố trong quá trình sử dụng máy, đảm bảo thiết bị vận hành ổn định.",
						icon: "./img/icon_box.svg"
					}
				]
			each item, index in commitmentList
				.item(data-aos="fade-up" data-aos-duration="800" data-aos-delay=100*(index+1))
					.icon-box
						.circle-dashed
						img(src=item.icon, alt=item.title)
					h3.title= item.title
					p.desc= item.desc
