section.home-6(setBackground="./img/bg-home-6.png")
	.container-fluid 
		.wrap-content(class="grid md:grid-cols-2 grid-cols-1 items-center gap-8 rem:max-w-[857px] w-full xl:py-15 xl:px-10 p-4 text-white")
			.col-left 
				h2.title(class="heading-1 block-title") Shaping Industries. Building Trust.
			.col-right(class="xl:rem:pl-[14px]")
				.desc(class="body-1 font-normal font-secondary mb-8") 
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui dolorem, harum ipsam suscipit provident voluptatibus officia id, saepe obcaecati omnis aperiam ad natus corporis explicabo! Distinctio repellat quos quia in.
				a(href="#" class="btn btn-primary" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200") 
					span SEE MORE
					.icon 
						img(src="./img/arrow.svg", alt="" class="img-svg")