.home-6
	@apply rem:min-h-[622px] h-full pt-8 relative
	&::before
		content: ""
		background: linear-gradient(180deg, #FFF -2.73%, rgba(255, 255, 255, 0.95) 15.75%, rgba(255, 255, 255, 0.80) 36.38%, rgba(255, 255, 255, 0.00) 100%)
		@apply absolute w-full rem:h-[227px] pointer-events-none top-0 left-0 z-1
	.wrap-content 
		background: radial-gradient(294.79% 141.42% at 0% 0%, rgba(0, 80, 146, 0.80) 0%, rgba(0, 80, 146, 0.40) 100%)
		backdrop-filter: blur(6px) 
		@apply relative z-2