.home-2
	@apply overflow-hidden
	.wrapper
		.col-left
			.title
				span
					@apply text-Primary-1
		.col-right
			.box
				background: linear-gradient(90deg, #F6F6F6 0%, rgba(246, 246, 246, 0.10) 100%)
				@apply px-3 py-3 xl:pl-11 border-l-4 border-l-Primary-1
				.wrap-inner
					.right
						.nation-item
							.icon
								i
									background: linear-gradient(90deg, #449EEE 0%, #1669B2 100%)
									background-clip: text
									-webkit-background-clip: text
									-webkit-text-fill-color: transparent