section.home-2.sliding-titles-section
	.bg-pattern
		img(src="./img/layer_partent.svg", alt="")
	.container-full
		.wrapper
			.col-info
				.sub-title VỀ HƯNG PHÚC KHANG
				.title-wrapper
					.title-list
						.title-item(style="background-image: url('./img/bg-banner-home.png')") BÁN MÁY
						.title-item(style="background-image: url('./img/text.jpg')") SỬA CHỮA
						.title-item(style="background-image: url('./img/1.jpg')") ĐÀO TẠO KỸ THUẬT
						.title-item(style="background-image: url('./img/1.jpg')" aria-hidden="true") BÁN MÁY
				.line
				.desc
					p Công ty Thiết Bị Máy Văn Phòng Hưng Phúc Khang là đơn vị chuyên nhập khẩu và phân phối máy photocopy, máy in chính hãng, phục vụ đa dạng nhu cầu từ cửa hàng photocopy, doanh nghiệp đến hệ thống đại lý trên toàn thị trường. Chúng tôi tập trung cung cấp các dòng thiết bị uy tín như Ricoh, Toshiba, Canon, Xerox và máy in màu Konica, đảm bảo hiệu suất ổn định, chất lượng in sắc nét và khả năng vận hành bền bỉ trong thời gian dài.
				a.btn.btn-primary(href="#") VỀ CHÚNG TÔI
			.col-images
				.box-images
					.img-large
						.img
							img(src="./img/big_image.png" alt="")
					.img-small
						.img
							img(src="./img/bg-banner-home.png" alt="")
				