.home-3
	background: #008CFF0D
	@apply overflow-hidden
	.swiper-column-auto
		.swiper-slide
			--spv: 1
			--mr: calc(12/1920*100rem)
			@screen sm
				--spv: 2
			@screen md
				--spv: 2
			@screen lg
				--spv: 4
				--mr: calc(20/1920*100rem)