section.product-detail-summary
	.container
		.wrapper
			.col-left(data-aos="fade-right")
				.gallery-main
					.swiper.main-swiper
						.swiper-wrapper
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/pro1.png", alt="")
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/pro1.png", alt="")
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/product-banner.png", alt="")
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/pro1.png", alt="")
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/pro1.png", alt="")
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/product-banner.png", alt="")
							.swiper-slide
								a(href="./img/pro1.png", data-fancybox="product-gallery")
									.img
										img(src="./img/pro1.png", alt="")
						.swiper-nav-wrapper
							.swiper-button-prev
								i.fa-light.fa-chevron-left
							.swiper-button-next
								i.fa-light.fa-chevron-right
					.swiper.thumb-swiper
						.swiper-wrapper
							.swiper-slide
								.img
									img(src="./img/pro1.png", alt="")
							.swiper-slide
								.img
									img(src="./img/pro1.png", alt="")
							.swiper-slide
								.img
									img(src="./img/product-banner.png", alt="")
							.swiper-slide
								.img
									img(src="./img/pro1.png", alt="")
							.swiper-slide
								.img
									img(src="./img/product-banner.png", alt="")
							.swiper-slide
								.img
									img(src="./img/pro1.png", alt="")

			.col-right(data-aos="fade-left")
				.summary-top
					.tags
						span.tag.discount -20%
						span.tag.bestseller bestseller
					.sku SKU 12345678
				
				h1.product-title Ricoh IM 3500
				
				.price-block
					.price
						span.current 10,250,000đ
						span.old 12,725,000đ
					.vat-note Giá chưa bao gồm VAT 10%
				
				.config-block
					.label Cấu hình
					.buttons
						a.btn-config(href="#")
							i.fa-light.fa-copy
							span Sao chụp
						a.btn-config(href="#")
							i.fa-light.fa-print
							span In
						a.btn-config(href="#")
							i.fa-light.fa-scanner-image
							span Scan
				
				.promotion-box
					.box-title Ưu đãi đặc quyền
					ul.promo-list
						li
							span.num 1
							span.text 
								strong Bảo hành: 
								span 24 tháng/50,000 trang
						li
							span.num 2
							span.text 
								strong Bảo trì: 
								span 05 năm
								| , tận nơi miễn phí
						li
							span.num 3
							span.text 
								strong Giá cho thuê máy photo/1 tháng : 
								span 1,400,000 đồng
				
				.description-summary
					.label Mô tả
					ul.checkmark-list
						li
							strong Tốc độ copy: 
									span 43 tờ/ phút
						li
							strong Định mức: 
									span 8,000 trang
						li
							strong Vượt trội: 
									span 90 đồng
						li
							strong Sử dụng các thiết bị di động thông minh để kết nối và làm việc từ xa
				
				.action-buttons
					a.btn.btn-primary-solid.btn-large(href="#")
						span LIÊN HỆ NGAY
					p.note Nếu muốn sử dụng nhiều máy cùng 1 lúc mà không cần đầu tư vốn quá nhiều, bạn hãy tham khảo dịch vụ 
						a(href="#") cho thuê máy photocopy
					
					a.btn.btn-detail-full(href="#")
						i.fa-light.fa-download
						span Tính năng chi tiết Ricoh IM 3500
				
				.share-block
					span Chia sẻ
					.social-links
						a.facebook(href="#")
							i.fa-brands.fa-facebook-f
						a.linkedin(href="#")
							i.fa-brands.fa-linkedin-in

section.product-detail-accordion
	.container 
		.accordion-wrapper.bg-Utility-gray-50
			.accordion-item.active
				.accordion-header
					h2 Thông số kỹ thuật máy photocopy Ricoh IM 3500
					.icon-toggle
						span
				.accordion-content
					.view-more-wrap
						.inner
							.content-left
								p Nếu muốn sử dụng nhiều máy cùng 1 lúc mà không cần đầu tư vốn quá nhiều, bạn hãy tham khảo dịch vụ cho thuê máy photocopy:
								ul.dot-list
									- 
										var specs = [
											{label: "Tốc độ In/Copy", value: "35 trang/phút"},
											{label: "Độ phân giải", value: "600 x 600 dpi"},
											{label: "Khổ giấy tối đa", value: "A3 (tối thiểu là A6)"},
											{label: "Màn hình", value: "Cảm ứng SOP 10.1 inch"},
											{label: "Tự động đảo mặt bản sao", value: "Có"},
											{label: "Tỷ lệ thu phóng", value: "25%-400%"},
											{label: "Dung lượng bộ nhớ", value: "4GB + 320GB HDD"},
											{label: "Nguồn gốc", value: "Nhập khẩu từ Mỹ - Hàng trưng bày"}
										]
									each spec in specs
										li
											strong= spec.label + ": "
											span= spec.value
							.content-right
								.img
									img(src="./img/pro1.png", alt="")
						
						.more-content(style="display: none;")
							.inner.mt-10
								p Nội dung bổ sung cho thông số kỹ thuật... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					
					.btn-view-more
						a.btn-toggle-content.btn.btn-primary(href="javascript:void(0)") 
							span XEM THÊM
							i.fa-light.fa-chevron-down

			.accordion-item
				.accordion-header
					h2 GIỚI THIỆU
					.icon-toggle
						span
				.accordion-content
					.view-more-wrap
						.inner
							.content-left
								p Nếu muốn sử dụng nhiều máy cùng 1 lúc mà không cần đầu tư vốn quá nhiều, bạn hãy tham khảo dịch vụ cho thuê máy photocopy:
								ul.dot-list
									- 
										var specs = [
											{label: "Tốc độ In/Copy", value: "35 trang/phút"},
											{label: "Độ phân giải", value: "600 x 600 dpi"},
											{label: "Khổ giấy tối đa", value: "A3 (tối thiểu là A6)"},
											{label: "Màn hình", value: "Cảm ứng SOP 10.1 inch"},
											{label: "Tự động đảo mặt bản sao", value: "Có"},
											{label: "Tỷ lệ thu phóng", value: "25%-400%"},
											{label: "Dung lượng bộ nhớ", value: "4GB + 320GB HDD"},
											{label: "Nguồn gốc", value: "Nhập khẩu từ Mỹ - Hàng trưng bày"}
										]
									each spec in specs
										li
											strong= spec.label + ": "
											span= spec.value
							.content-right
								.img
									img(src="./img/pro1.png", alt="")
						
						.more-content(style="display: none;")
							.inner.mt-10
								p Nội dung bổ sung cho thông số kỹ thuật... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					
					.btn-view-more
						a.btn-toggle-content.btn.btn-primary(href="javascript:void(0)") 
							span XEM THÊM
							i.fa-light.fa-chevron-down

include ../../../global/Contact/Contact

section.product-related.section
	.container-seller
		.section-header.text-center.mb-10
			h2.section-title MẪU MÁY LIÊN QUAN
		
		.relative
			.swiper.product-related-swiper
				.swiper-wrapper
					- 
						var relatedProducts = [
							{ cat: 'cat-1', name: 'Máy photocopy Ricoh' },
							{ cat: 'cat-2', name: 'Máy in màu Konica' },
							{ cat: 'cat-3', name: 'Máy sao chụp khổ rộng' },
							{ cat: 'cat-1', name: 'Máy photocopy Ricoh 2' },
							{ cat: 'cat-2', name: 'Máy in màu Konica 2' },
							{ cat: 'cat-3', name: 'Máy sao chụp khổ rộng 2' },
						]
					each item in relatedProducts
						.swiper-slide.h-auto
							+ProductItem(item)
			.swiper-nav-wrapper
				.swiper-button-prev
					i.fa-light.fa-chevron-left
				.swiper-button-next
					i.fa-light.fa-chevron-right