section.home-contact
	.bg-pattern
		img(src="./img/partent_h_2.svg", alt="")
	.container-full
		.wrapper
			.col-form(data-aos="fade-right")
				h2.block-title LIÊN HỆ TƯ VẤN
				p.desc Để lại thông tin, đội ngũ Hưng Phúc Khang sẽ liên hệ và tư vấn giải pháp phù hợp trong thời gian sớm nhất.
				
				.contact-form
					form(action="")
						.wrap-form
							.form-group
								input(type="text" placeholder="Tên...")
							.form-group
								input(type="email" placeholder="Email...")
							.form-group
								input(type="text" placeholder="Điện thoại...")
							.form-group
								select
									option(value="" disabled selected) Nhu cầu quan tâm
									option(value="1") Bán máy Photocopy
									option(value="2") Cho thuê máy Photocopy
									option(value="3") Sửa chữa máy Photocopy
									option(value="4") Đào tạo kỹ thuật
							.form-group.full
								textarea(placeholder="Nội dung..." rows="5")
							.form-button
								button.btn.btn-primary(type="submit")
									span GỬI
			
			.col-image(data-aos="fade-left")
				.img
					img(src="./img/contact_image.png", alt="")
