body.market-detail
	.global-breadcrumb
		@apply mt-[var(--header-height)]
.other-market
	.swiper-column-auto
		.swiper-slide
			--spv: 1.2
			--mr: calc(12/1920*100rem)
			@screen sm
				--spv: 2
			@screen md
				--spv: 2
			@screen lg
				--spv: 2
				--mr: calc(80/1920*100rem)