.home-5
	@apply overflow-hidden
	.col-right
		.swiper-column-auto
			.swiper-slide
				--spv: 2
				--mr: calc(12/1920*100rem)
				@screen sm
					--spv: 2
				@screen md
					--spv: 2
				@screen lg
					--spv: 2.66
					--mr: calc(40/1920*100rem)