section.home-5
	.home5-wrapper
		.col-left
			.image-block
				.img-main
					//- List tất cả ảnh dịch vụ để hỗ trợ CSS Fade mượt mà
					img.active(src="./img/bg-home-4.png", alt="Bán máy Photocopy")
					img(src="./img/bg-home-6.png", alt="Cho thuê máy Photocopy")
					img(src="./img/bg-home-4.png", alt="Sửa chữa máy Photocopy")
					img(src="./img/bg-banner-home.png", alt="Đào tạo kỹ thuật")
		.col-right
			.content-inner
				h2.block-title DỊCH VỤ CỦA CHÚNG TÔI
				.accordion-list
					//- Item 0
					.accordion-item.active(data-index="0")
						.item-icon
							.icon-wrap
								img(src="./img/photocopy_icon.svg", alt="")
						.item-content
							.title-wrap
								h3 Bán máy Photocopy
							.item-body
								.inner
									p.desc Cung cấp máy photocopy chính hãng, đa dạng thương hiệu và cấu hình, đáp ứng linh hoạt nhu cầu sử dụng từ văn phòng đến cửa hàng dịch vụ in ấn.
									a.btn-more(href="./ServiceDetail.html") 
										span Tìm hiểu thêm
										i.fa-light.fa-chevron-right
					
					//- Item 1
					.accordion-item(data-index="1")
						.item-icon
							.icon-wrap
								img(src="./img/photocopy_icon.svg", alt="")
						.item-content
							.title-wrap
								h3 Cho thuê máy Photocopy
							.item-body
								.inner
									p.desc Giải pháp cho thuê máy photocopy linh hoạt, tiết kiệm chi phí đầu tư ban đầu cho doanh nghiệp, đảm bảo máy luôn hoạt động tốt.
									a.btn-more(href="./ServiceDetail.html") 
										span Tìm hiểu thêm
										i.fa-light.fa-chevron-right

					//- Item 2
					.accordion-item(data-index="2")
						.item-icon
							.icon-wrap
								img(src="./img/photocopy_icon.svg", alt="")
						.item-content
							.title-wrap
								h3 Sửa chữa máy Photocopy
							.item-body
								.inner
									p.desc Dịch vụ sửa chữa chuyên nghiệp, nhanh chóng với linh kiện chính hãng, giúp máy photocopy của bạn khôi phục hiệu suất tối ưu.
									a.btn-more(href="./ServiceDetail.html") 
										span Tìm hiểu thêm
										i.fa-light.fa-chevron-right

					//- Item 3
					.accordion-item(data-index="3")
						.item-icon
							.icon-wrap
								img(src="./img/photocopy_icon.svg", alt="")
						.item-content
							.title-wrap
								h3 Đào tạo kỹ thuật sửa chữa máy Photocopy
							.item-body
								.inner
									p.desc Khóa học chuyên sâu từ cơ bản đến nâng cao về kỹ thuật sửa chữa máy photocopy, hỗ trợ việc làm ngay sau khi kết thúc khóa học.
									a.btn-more(href="./ServiceDetail.html") 
										span Tìm hiểu thêm
										i.fa-light.fa-chevron-right
