.service-4
	.swiper-column-auto
		.swiper-slide
			--spv: 2
			--mr: calc(12/1920*100rem)
			@screen sm
				--spv: 2
			@screen md
				--spv: 3
			@screen lg
				--spv: 4
				--mr: calc(40/1920*100rem)
			@apply flex flex-col h-auto
			.service-item
				@apply flex flex-col flex-1
				.content
					@apply flex flex-col flex-1
				&:hover
					.content
						.title
							@apply text-Primary-1