section.about-2(class="section-py")
	.container-fluid 
		.wrap-heading(class="grid lg:grid-cols-2 grid-cols-1 gap-8 xl:mb-16 mb-base")
			.col-left 
				.sub-title(class="heading-4 font-semibold text-Utility-gray-500 mb-4") ABOUT DLH LIME
				h2.title(class="heading-1 uppercase") Sustainable 
					span Growth Built on Responsibility and Long-Term 
					| Partnership
			.col-right 
				.format-content(class="body-1 font-normal font-secondary")
					p Since 2009, DLH LIME has established itself as a Top 3 regional authority in industrial lime, serving high-specification global markets with a proven track record of reliability. Our production power is anchored by two mordern facilities operating a total of five modern kilns, ensuring the scale and consistency required by world-class partners in metallurgy and manufacturing.
					p We drive technical excellence through specialized PCC-quality lime kilns, advanced burnt dolomite technology, and modern production lines for premium Calcium Hydroxide (Ca(OH)2). By integrating these world-class facilities with a commitment to ecological responsibility, DLH LIME bridges the gap between industrial necessity and sustainability, ensuring a greener future for the global supply chain.
		.wrap-img 
			.img 
				a(href="#" class="img-ratio ratio:pt-[638_1720]") 
					+PugImg()