section.about-2.counter-section
	.container
		.wrapper
			.item
				.number(data-count="5") 5+
				.desc Năm kinh nghiệm
			.item
				.number(data-count="40") 40+
				.desc Kỹ thuật viên
			.item
				.number(data-count="150") 150+
				.desc Dòng máy khác nhau
			.item
				.number(data-count="3000") 3000+
				.desc Khách hàng
