section.about-4(class="xl:py-15 py-10")
	.container-fluid 
		.wrap-heading(class="text-center xl:mb-16 mb-base")
			.sub-title(class="heading-4 font-semibold text-Utility-gray-500 mb-3") OUR CORE VALUES
			h2.title(class="heading-1 uppercase mb-4") Comprehensive mineral solutions for all industries
			.desc(class="body-1 font-normal font-secondary") 
				p At DLH LIME, we build and grow our business based on six core values:
		.wrap-list(class="grid grid-cols-3 gap-x-6 xl:gap-y-16 gap-y-10")
			-for(var i = 0; i < 6; i++)
				.item
					.content-left
						.number 01
						.line 
					.content-right
						.icon 
							img(src="./img/1.svg", alt="" class="img-svg")
						.content-right-bottom
							h3.title(class="heading-2 font-bold") SUSTAINABILITY
							.desc 
								p Ensuring our development is aligned with environmental protection and community benefits.