section.service-1(class="section-py")
	.container-fluid
		.wrapper-content(class="rem:max-w-[1134px] w-full mx-auto text-center mb-base")
			h2.title(class="heading-1 font-semibold mb-3") Production
			.sub-title(class="heading-3 font-semibold") Advanced Kiln Technology for Superior Performance
			.desc(class="mt-6 body-1 font-secondary font-normal")
				p Production is the heart of DLH LIME’s operations. We boast superior manufacturing capabilities through our two state-of-the-art facilities, which operate a total of five high-capacity, modern kilns. This significant investment in industrial infrastructure allows us to provide a comprehensive portfolio of products, including Lump Lime, Powder Lime, Quicklime (CaO), Hydrated Lime (Ca(OH)2), and Burnt Dolomite.
		.img 
			a(href="#" class="img-ratio ratio:pt-[549_1720]") 
				+PugImg()