section.service-1.counter-section
	.container-full
		.wrapper
			.col-content(data-aos="fade-right")
				h2.block-title BÁN MÁY PHOTOCOPY CHÍNH HÃNG
				.desc
					p Hưng Phúc Khang hoạt động trong lĩnh vực máy photocopy với định hướng cung cấp các giải pháp phù hợp cho nhu cầu sử dụng thực tế của doanh nghiệp, văn phòng và cửa hàng photocopy. Trọng tâm không nằm ở số lượng thiết bị, mà ở khả năng vận hành ổn định, tính hiệu quả trong sử dụng và sự phù hợp với từng mô hình khai thác.
				
				.counter-wrapper
					.item
						.number(data-count="150") 150+
						.desc Dòng máy khác nhau
					.item
						.number(data-count="3000") 3000+
						.desc Khách hàng
				
				.btn-list
					a.btn.btn-primary(href="#")
						span LIÊN HỆ VỚI CHÚNG TÔI
					a.btn.btn-primary-solid(href="#")
						span XEM DÒNG MÁY
			
			.col-image(data-aos="fade-left")
				.img
					img(src="./img/product-banner.png", alt="")
