section.sustainability-1(class="section-py")
	.container-fluid 
		.wrapper(class="grid lg:grid-cols-2 grid-cols-1 gap-8 mb-base")
			.col-left 
				h2.title(class="heading-1 font-semibold") Our Vision for 
					br
					span a Greener Industry
			.col-right 
				.format-content(class="body-1 font-normal font-secondary text-justify")
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perspiciatis architecto consectetur magni cupiditate dolores? Autem modi totam nam quam cumque molestias eum maiores ullam officia architecto, magni iure. Nobis.
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et totam ducimus tempora maiores sed, harum aut ullam mollitia quas earum numquam eos explicabo, itaque odit ipsam ea iure facilis. Illo.
		.img 
			a(href="#" class="img-ratio ratio:pt-[540_1720]") 
				+PugImg()