extends ./_layout/_default.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home'
block main
	include ../components/modules/Home/Home-1/Home-1
	include ../components/modules/Home/Home-2/Home-2
	include ../components/modules/Home/Home-3/Home-3
	include ../components/modules/Home/Home-4/Home-4
	include ../components/modules/Home/Home-5/Home-5
	include ../components/modules/Home/Home-6/Home-6
	include ../components/modules/Home/Home-7/Home-7
	include ../components/modules/Home/Home-8/Home-8
	include ../components/global/Contact/Contact