extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = 'service-page'
	
block main
	include ../components/global/Breadcrumb/Breadcrumb
	include ../components/modules/Service/Service-1/Service-1
	include ../components/modules/Service/Service-2/Service-2
	include ../components/modules/Service/Service-3/Service-3
	include ../components/global/Contact/Contact