.space-to-header
section.home-1
	.banner-slide
		.swiper
			.swiper-wrapper
				//- Slide 1
				.swiper-slide
					.slide-item
						//- Background layers
						.slide-bg
							a(href="#" class="img-ratio ratio:pt-[1200_1920] lg:ratio:pt-[880_1920]")
								+PugImg("./img/bg-banner-home.png")
							.slide-overlay
							img.layer-union(src="./img/Union.svg" alt="")
						.slide-content
							.slide-decorations
								img.deco-goctren(src="./img/goctren.svg" alt="")
								img.deco-gocduoi(src="./img/gocduoi.svg" alt="")
							.slide-inner
								.slide-info
									h2.slide-title Hưng Phúc Khang
									p.slide-desc Đối tác phân phối &amp; dịch vụ máy photocopy, máy in chuyên nghiệp
									.slide-button
										a(href="./ProductList.html" class="btn btn-primary") XEM SẢN PHẨM
								.slide-image
									+PugImg("./img/product-banner.png")

				//- Slide 2
				.swiper-slide
					.slide-item
						.slide-bg
							a(href="#" class="img-ratio ratio:pt-[1200_1920] lg:ratio:pt-[880_1920]")
								+PugImg("./img/banner.png")
							.slide-overlay
							img.layer-union(src="./img/Union.svg" alt="")
						.slide-content
							.slide-decorations
								img.deco-goctren(src="./img/goctren.svg" alt="")
								img.deco-gocduoi(src="./img/gocduoi.svg" alt="")
							.slide-inner
								.slide-info
									h2.slide-title Hưng Phúc Khang
									p.slide-desc Đối tác phân phối &amp; dịch vụ máy photocopy, máy in chuyên nghiệp
									.slide-button
										a(href="./ProductList.html" class="btn btn-primary") XEM SẢN PHẨM
								.slide-image
									+PugImg("./img/product-banner.png")

				//- Slide 3
				.swiper-slide
					.slide-item
						.slide-bg
							a(href="#" class="img-ratio ratio:pt-[1200_1920] lg:ratio:pt-[880_1920]")
								+PugImg("./img/bg-banner-home.png")
							.slide-overlay
							img.layer-union(src="./img/Union.svg" alt="")
						.slide-content
							.slide-decorations
								img.deco-goctren(src="./img/goctren.svg" alt="")
								img.deco-gocduoi(src="./img/gocduoi.svg" alt="")
							.slide-inner
								.slide-info
									h2.slide-title Hưng Phúc Khang
									p.slide-desc Đối tác phân phối &amp; dịch vụ máy photocopy, máy in chuyên nghiệp
									.slide-button
										a(href="./ProductList.html" class="btn btn-primary") XEM SẢN PHẨM
								.slide-image
									+PugImg("./img/product-banner.png")

		//- Navigation controls
		.slide-controls
			.btn-prev
				i.fa-thin.fa-chevron-left
			.btn-next
				i.fa-thin.fa-chevron-right