section.home-1
	.slide(class="relative")
		.swiper
			.swiper-wrapper
				.swiper-slide 
					.home-1-banner(class="relative")
						a(href="#" class="img-ratio ratio:pt-[960_1920]") 
							+PugImg("./img/banner.png")
					.home-1-content 
						.container-fluid 
							.wrapper(class="flex justify-between items-end pb-6 border-b border-b-white/50")
								.col-left
									h2.title(class="heading-banner font-bold uppercase block-title") DLH LIME
									.desc(class="rem:text-[32px] font-semibold") From Mine to Market: Excellence solutions
								.col-right(data-aos="fade-left" data-aos-duration="600" data-aos-delay="400" )
									a(href="#" class="btn btn-primary") 
										span SEE MORE
										.icon 
											img(src="./img/arrow.svg", alt="" class="img-svg")
				.swiper-slide 
					.home-1-banner(class="relative")
						a(href="#" class="img-ratio ratio:pt-[960_1920]") 
							+PugImg()
					.home-1-content 
						.container-fluid 
							.wrapper(class="flex justify-between items-end pb-6 border-b border-b-white/50")
								.col-left
									h2.title(class="heading-banner font-bold uppercase") DLH LIME
									.sub-title(class="rem:text-[32px] font-semibold") From Mine to Market: Excellence solutions
								.col-right 
									a(href="#" class="btn btn-primary") 
										span SEE MORE
										.icon 
											img(src="./img/arrow.svg", alt="" class="img-svg")
				.swiper-slide 
					.home-1-banner(class="relative")
						a(href="#" class="img-ratio ratio:pt-[960_1920]") 
							+PugImg()
					.home-1-content 
						.container-fluid 
							.wrapper(class="flex justify-between items-end pb-6 border-b border-b-white/50")
								.col-left
									h2.title(class="heading-banner font-bold uppercase") DLH LIME
									.sub-title(class="rem:text-[32px] font-semibold") From Mine to Market: Excellence solutions
								.col-right 
									a(href="#" class="btn btn-primary") 
										span SEE MORE
										.icon 
											img(src="./img/arrow.svg", alt="" class="img-svg")
			.wrap-pagination
				.swiper-pagination