section.service-3(class="section-py bg-Utility-gray-50")
	.container-fluid 
		.wrapper-service(class="grid lg:grid-cols-2 grid-cols-1 items-center xl:gap-0 gap-base")
			.col-left(class="xl:pr-3")
				h2.title(class="heading-2 font-extrabold mb-6") The DLH LIME advantage lies in our integration of world-class production technologies:
				.format-content 
					ul 
						li PCC-Quality Lime Kiln Technology: Specifically engineered to produce high-activity Quicklime with exceptional purity, meeting the rigorous demands of the paper, chemical, and food processing industries.
						li Advanced Burnt Dolomite Kilns: Featuring precise thermal control systems to ensure stable physical and chemical properties, essential for metallurgy and glass manufacturing.
						li Modern Calcium Hydroxide (Ca(OH)2) Lines: Utilizing high-performance separation equipment to create ultra-fine, high-whiteness hydrated lime with superior solubility for environmental and water treatment applications.
			.col-right(class="xl:pl-3") 
				.img(class="img-ratio ratio:pt-[465_828] zoom-img")
					+PugImg()