section.section-field-op
	.field-op
		.section-field-op-img(class="relative" setBackground="./img/18.png")
			.field-op-intro-overlay(class="absolute inset-0 z-10 rem:h-[860px] flex flex-col")
				.intro-content-top(class="text-center xl:rem:pt-[116px] py-8 px-4 absolute left-2/4 -translate-x-2/4 z-[160]")
					.sub-title(class="text-Primary-1 font-semibold mb-4 uppercase tracking-wider body-1") OUR COMMITMENT TO SUSTAINABLE VALUES
					.desc(class="heading-3 font-normal text-Utility-gray-800 rem:max-w-[1160px] mx-auto")
						p Lorem ipsum dolor sit amet consectetur. Tincidunt nulla arcu platea lectus adipiscing.
				.field-op-intro-grid(class="flex-1 flex xl:flex-row")
					.intro-item(class="flex-1 flex items-center justify-center xl:border-r border-r-gray-200 -xl:border-b border-b-gray-200 py-10 xl:py-0")
						h3(class="xl:text-7xl text-5xl font-extrabold text-Primary-1 uppercase") People
					.intro-item(class="flex-1 flex items-center justify-center xl:border-r border-r-gray-200 -xl:border-b border-b-gray-200 py-10 xl:py-0")
						h3(class="xl:text-7xl text-5xl font-extrabold text-Primary-1 uppercase") Product
					.intro-item(class="flex-1 flex items-center justify-center py-10 xl:py-0")
						h3(class="xl:text-7xl text-5xl font-extrabold text-Primary-1 uppercase") Nature
			.swiper.swiper-field-op
				ul.swiper-wrapper.field-op-list
					li.swiper-slide.field-op-item.active(class="relative xl:flex-1 rem:!h-[860px] overflow-hidden group transition-1000 ease-linear" data-background="./img/18.png")
						.wrap-content-top(class="absolute top-0 left-0 xl:py-20 w-full text-center")
							.sub-title OUR COMMITMENT TO SUSTAINABLE VALUES
							h3.title-active People
							h3.title(class="heading-1 font-bold transition-all-500-linear text-white/50 uppercase") People
						.info(class="absolute bottom-0 left-0 z-2 w-full p-7 text-white transition-all-500-linear")                                
							.content(class="body-2 mt-2.25 xl:opacity-0 xl:invisible") 
								p Một môi trường sinh thái cân bằng không chỉ mang lại không gian sống xanh, sạch mà còn bảo vệ sức khỏe con người và duy trì tài nguyên thiên nhiên bền vững. Yếu tố này chính là lá phổi giữ cho mọi nhịp sống được an hòa và khỏe mạnh.        
					li.swiper-slide.field-op-item(class="relative xl:flex-1 rem:!h-[860px] overflow-hidden group transition-1000 ease-linear" data-background="./img/1.jpg")
						.wrap-content-top(class="absolute top-0 left-0 xl:py-20 w-full text-center")
							.sub-title OUR COMMITMENT TO SUSTAINABLE VALUES
							h3.title-active Product
							h3.title(class="heading-1 font-bold transition-all-500-linear text-white/50 uppercase") Product
						.info(class="absolute bottom-0 left-0 z-2 w-full p-7 text-white transition-all-500-linear")                                
							.content(class="body-2 mt-2.25 xl:opacity-0 xl:invisible transition-all-500-linear") 
								p Một môi trường sinh thái cân bằng không chỉ mang lại không gian sống xanh, sạch mà còn bảo vệ sức khỏe con người và duy trì tài nguyên thiên nhiên bền vững. Yếu tố này chính là lá phổi giữ cho mọi nhịp sống được an hòa và khỏe mạnh.    
					li.swiper-slide.field-op-item(class="relative xl:flex-1 rem:!h-[860px] overflow-hidden group transition-500" data-background="./img/18.png")
						.wrap-content-top(class="absolute top-0 left-0 xl:py-20 w-full text-center")
							.sub-title OUR COMMITMENT TO SUSTAINABLE VALUES
							h3.title-active Nature
							h3.title(class="heading-1 font-bold transition-all-500-linear text-white/50 uppercase") Nature
						.info(class="absolute bottom-0 left-0 z-2 w-full p-7 text-white transition-all-500-linear")                                
							.content(class="body-2 mt-2.25 xl:opacity-0 xl:invisible transition-all-500-linear") 
								p Một môi trường sinh thái cân bằng không chỉ mang lại không gian sống xanh, sạch mà còn bảo vệ sức khỏe con người và duy trì tài nguyên thiên nhiên bền vững. Yếu tố này chính là lá phổi giữ cho mọi nhịp sống được an hòa và khỏe mạnh.                                    

