footer.footer
	.container
		.footer-top
			.footer-grid
				.footer-col.company-info
					h3.footer-title CÔNG TY THIẾT BỊ MÁY VĂN PHÒNG HƯNG PHÚC KHANG
					ul.contact-list
						li
							i.fa-solid.fa-location-dot
							span 17/11 Đồng Xoài , Phường 13, Quận Tân Bình, Tp. Hồ Chí Minh
						li
							i.fa-solid.fa-phone
							span (028) 3815 0134 - (028) 3815 0144
						li
							i.fa-solid.fa-envelope
							span sales@hungphuckhang.com
					.license-info
						p Giấy phép kinh doanh được cấp bởi Sở kế hoạch và đầu tư TPHCM
						p Mã số thuế: 0314753815

				.footer-col.quick-links
					h3.footer-title LIÊN KẾT NHANH
					ul.menu-list
						li: a(href="#") Giới thiệu
						li: a(href="#") Bán máy Photocopy
						li: a(href="#") Cho thuê máy Photocopy
						li: a(href="#") Sửa chữa máy Photocopy
						li: a(href="#") Đào tạo kỹ thuật sửa chữa máy Photocopy
						li: a(href="#") Tin tức
						li: a(href="#") Liên hệ

				.footer-col.support-box
					.support-card
						.card-header
							i.fa-light.fa-headphones
							h3 HỖ TRỢ 24/7
						.divider
						.card-body
							.support-item
								p.label Tư vấn mua hàng
								a.phone(href="tel:02838150134") (028) 3815 0134
								a.email(href="mailto:sales@hungphuckhang.com") sales@hungphuckhang.com
							.divider
							.support-item
								p.label Tổng đài kỹ thuật
								a.phone(href="tel:02838150144") (028) 3815 0144

		.footer-bottom
			.bottom-wrapper
				.left-box
					.bottom-logo
						img(src="./img/logohpk.svg", alt="Hung Phuc Khang")
					p.copyright © 2025 Hưng Phúc Khang. All Rights Reserved. Website designed by CanhCam.
				
				.right-box
					.bottom-links
						a(href="#") Sitemap
						a(href="#") Terms & Conditions
					.social-links
						a(href="#"): i.fa-brands.fa-facebook-f
						a(href="#"): i.fa-brands.fa-linkedin-in
						a(href="#"): i.fa-brands.fa-youtube

.tool-fixed-cta
	.btn.button-to-top
		.btn-icon
			.icon 
	a.btn.btn-content
		.btn-icon
			.icon
				i.fa-light.fa-envelope
	a.btn.btn-content
		.btn-icon
			.icon
				i.fa-solid.fa-phone.fa-shake
	a.btn.btn-content
		.btn-icon
			.icon
				i.fa-brands.fa-facebook-messenger
