//- .space-to-header
section.chothue-1
	.slide-item
		.slide-bg
			a(href="javascript:void(0)" class="img-ratio ratio:pt-[800_1920] xl:ratio:pt-[600_1920]")
				+PugImg("./img/bg_banner_2.png")
			.slide-overlay
			img.layer-union(src="./img/Union.svg" alt="")
		.slide-content
			.slide-decorations
				img.deco-goctren(src="./img/goctren.svg" alt="")
				img.deco-gocduoi(src="./img/gocduoi.svg" alt="")
			.slide-inner
				.slide-info(data-aos="fade-right")
					h2.slide-title Hưng Phúc Khang
					p.slide-desc Đối tác phân phối &amp; dịch vụ máy photocopy, máy in chuyên nghiệp
				.slide-image(data-aos="fade-left")
					+PugImg("./img/product-banner.png")
