.chothue-1
	@apply relative overflow-hidden pt-[var(--header-height)]
	.slide-item
		@apply relative w-full overflow-hidden 
	.slide-bg
		@apply relative w-full
		> a.img-ratio
			@screen -md
				padding-top: 0 #{!important}
				height: 50svh
			img
				@apply object-top
		.slide-overlay
			@apply absolute top-0 left-0 w-full h-full z-2
			background: linear-gradient(247deg, rgba(0, 0, 0, 0.20) 35.21%, rgba(0, 0, 0, 0.40) 100%)
		&::after
			content: ''
			@apply absolute top-0 left-0 w-full h-full z-3 pointer-events-none bg-Primary-1
			clip-path: polygon(66% 0, 100% 0, 100% 100%, 50% 100%)
			@screen -xl
				clip-path: polygon(65% 0, 100% 0, 100% 100%, 36% 100%)
			@screen -md
				clip-path: polygon(100% 30%, 45% 100%, 100% 100%)

		.layer-union
			@apply absolute right-0 -bottom-[45%] z-4 pointer-events-none select-none
			@screen -xl
				@apply rem:w-[200px]
			@screen xl
				@apply rem:w-[420px]

	.slide-decorations
		@apply absolute top-0 left-0 z-10 pointer-events-none
		.deco-goctren
			@apply absolute top-0 left-0
			@screen -xl
				@apply rem:w-[40px]
			@screen xl
				@apply rem:w-[74px]
		.deco-gocduoi
			@apply absolute top-0 left-0
			@screen -xl
				@apply rem:w-[100px]
			@screen xl
				@apply rem:w-[163px]

	.slide-content
		@apply absolute top-0 left-0 w-full h-full z-10
		@apply flex items-center
	.slide-inner
		@apply w-full flex items-center justify-between z-10
		@apply md:rem:pl-[40px] md:rem:pr-[40px] lg:rem:pl-[60px] lg:rem:pr-[80px] xl:rem:pl-[260px] xl:rem:pr-[300px] gap-5
		@screen -md
			@apply flex-col justify-center gap-5 px-5 pt-[var(--header-height)]

	.slide-info
		@apply text-white flex-shrink-0
		@screen xl
			max-width: calc(560/1920*100rem)
		@screen lg
			@screen -xl
				@apply w-[50%]
		@screen md
			@screen -lg
				@apply w-[50%]
		@screen -md
			@apply w-full text-center

	.slide-title
		@apply font-bold text-white leading-[1.25] mb-2
		@apply heading-2 lg:rem:text-[48px]
		@screen md
			@screen -lg
				@apply rem:text-[32px]

	.slide-desc
		@apply font-normal text-white
		@apply title-32 lg:rem:text-[36px]
		@apply leading-[1.3] #{!important}
		@screen md
			@screen -lg
				@apply rem:text-[20px]

	.slide-button
		a.btn
			@apply text-Primary-1 border-Primary-1 bg-white
			&:hover
				@apply bg-Primary-1 border-Primary-1 text-white

	.slide-image
		@apply relative z-10 flex-shrink-0
		@screen xl
			width: calc(733/1920*100rem)

		@screen lg
			@screen -xl
				width: 35%
		@screen md
			@screen -lg
				width: 35%
		@screen -md
			@apply w-[70vw] max-w-[700px] mx-auto
		img
			@apply w-full h-auto object-contain drop-shadow-xl
