@layer components
	.page-banner-main
		@apply relative
		&::before
			content: ""
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%)
			backdrop-filter: blur(2px)
			@apply absolute bottom-0 left-0 w-full rem:h-[287px] pointer-events-none z-1
		.content-banner
			@apply absolute bottom-16 left-0 w-full text-white text-center z-2
			.title
				@apply xl:rem:text-[72px] rem:text-[48px] font-bold uppercase mb-4
			.global-breadcrumb
				@apply bg-transparent
				p
					@apply justify-center gap-4
					a, span
						@apply text-white/50
					.last
						@apply body-1 font-bold text-white
	.indicator-swipe
		@apply z-30 px-3 
		@apply w-[calc(104/19.2*1rem)] h-14 rounded-full
		@apply flex justify-between items-center
		@apply transition-all pointer-events-none
		&:not(.active)
			@apply opacity-0
		svg
			@apply stroke-white
		.hand
			animation: moveSwipeGesture 2.25s infinite ease-in-out
			@apply md:w-16 md:h-12 w-10 h-10
	.nav-primary
		@apply flex items-center justify-center gap-4 
		@apply overflow-auto whitespace-nowrap
		@screen -md
			@apply justify-normal pb-3
		li
			a
				@apply inline-flex items-center justify-center 
				@apply rounded-5 px-4 h-10
				@apply bg-white text-Primary-1 font-semibold uppercase
			&.active, &:hover
				a
					@apply bg-Primary-1 text-white
	.pagination
		@apply flex items-center justify-center
		ul
			@apply flex items-center justify-center gap-6
			li
				a, span
					@apply inline-flex items-center justify-center
					@apply rem:w-[52px] rem:h-[52px] 
					@apply bg-Utility-gray-50
					@apply font-normal
				&.active
					a, span
						@apply bg-Primary-1 text-white
				&:hover
					a
						@apply bg-Primary-1 text-white
	.product-item
		@apply bg-white p-4 h-full flex flex-col transition-all duration-300 relative border border-Utility-gray-100
		.img
			@apply relative mb-3 overflow-hidden img-ratio ratio:pt-[1_1] rem:max-h-[256px] flex items-center justify-center
			a
				@apply block w-full h-full
			img
				@apply w-full h-full object-contain transition-transform duration-500 p-2 lg:p-5
		
		.content
			@apply flex flex-col flex-1
			
			.title
				@apply text-xl font-semibold mb-2 line-clamp-2 h-14 overflow-hidden leading-[1.4]
				a
					@apply text-Utility-gray-950 transition-colors duration-300
			
			.tags
				@apply flex items-center gap-2 mb-1
				.tag
					@apply rem:text-[14px] font-bold px-2 py-[2px] text-white
					&.discount
						@apply bg-Utility-gray-950
					&.bestseller
						@apply bg-Primary-1
			
			.price
				@apply flex flex-wrap items-end gap-x-4 gap-y-2 mb-3 border-b border-[#F1F3F4] pb-3
				.current
					@apply rem:text-[24px] font-bold text-Utility-gray-950
				.old
					@apply rem:text-[14px] text-Utility-gray-600 line-through mb-1 font-normal
			
			.specs
				@apply mt-auto
				ul
					@apply flex flex-col gap-1
					li
						@apply flex items-center gap-2 rem:text-[16px] text-Utility-gray-600
						span
							@apply text-Utility-gray-600 rem:text-[16px] leading-1.4
						.icon
							@apply text-Primary-1 mt-0.5 shrink-0 rem:text-[12px] font-normal
		&:hover
			@apply border-Primary-1

			.title a
				@apply text-Primary-1
		
	.news-item
		@apply border border-b-Utility-gray-200
		.content
			@apply bg-transparent
			.bottom-content
				.dot
					@apply sq-1 rounded-full bg-black
	.market-item
		@apply relative transition-all duration-300 overflow-hidden
		&::before
			content: ""
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%)
			@apply absolute left-0 top-0 w-full h-full pointer-events-none z-1
		.wrap-content
			@apply absolute w-full bottom-0 left-0 z-2 transition-all duration-300
			.wrap-content-bottom
				background: rgba(49, 49, 49, 0.30)
				backdrop-filter: blur(13.550000190734863px)
				.btn-view-more
					>a
						@apply w-max
		&:hover
			.wrap-content
				.wrap-content-bottom
					background: rgba(0, 80, 146, 0.30)
					backdrop-filter: blur(13.550000190734863px)
					.btn-view-more
						>a
							@apply text-white bg-Primary-2 border-transparent
					span
						@apply text-white
					.icon
						@apply w-15
						svg
							path
								@apply fill-white
								stroke-width: 0
	.button-contact 
		>a
			@apply h-12 bg-Primary-1 px-6 text-white uppercase font-semibold
			@apply hover:bg-Primary-2 inline-flex items-center justify-center
			@apply transition-500 xl:mt-0 mt-5