section.home-4.section.bg-Utility-gray-50
		.container-seller
			.section-header
				.title.flex.items-center.justify-center.gap-2
					.icon-fire
						+PugImg("./img/fire_icon.svg")
					h2.title-sale SẢN PHẨM ĐANG GIẢM GIÁ
				.tabs
					ul
						li.tab-item.active(data-tab="all") Máy photocopy Ricoh
						li.tab-item(data-tab="cat-1") Máy photocopy đa chức năng
						li.tab-item(data-tab="cat-2") Máy in màu Konica
						li.tab-item(data-tab="cat-3") Máy sao chụp khổ rộng
			
			.relative
				.swiper.home-4-swiper.px-4
					.swiper-wrapper
						- 
							var products = [
								{ cat: 'cat-1', name: 'Máy photocopy Ricoh' },
								{ cat: 'cat-2', name: 'Máy in màu Konica' },
								{ cat: 'cat-3', name: 'Máy sao chụp khổ rộng' },
								{ cat: 'cat-1', name: 'Máy photocopy Ricoh 2' },
								{ cat: 'cat-2', name: 'Máy in màu Konica 2' },
								{ cat: 'cat-3', name: 'Máy sao chụp khổ rộng 2' },
								{ cat: 'cat-1', name: 'Máy photocopy Ricoh 3' },
								{ cat: 'cat-2', name: 'Máy in màu Konica 3' },
							]
						each item in products
							.swiper-slide.h-auto(data-category=item.cat)
								+ProductItem(item)
				.swiper-nav-wrapper
					.swiper-button-prev
						i(class="fa-solid fa-chevron-left")
					.swiper-button-next
						i(class="fa-solid fa-chevron-right")
				.block-btn.text-center.mt-8
					a(href="#" class="btn btn-primary") Xem tất cả
