.tool-fixed-cta
	border-radius: 40px
	border: 1.5px solid var(--Utility-white, #FFF)
	background: rgba(0, 0, 0, 0.05)
	backdrop-filter: blur(40px)
	@apply fixed bottom-[1vh] rem:right-[10px] z-50 flex flex-col gap-2
	@apply items-center rem:w-[72px] rounded-full px-2 pt-3 pb-2
	@screen -md
		@apply bottom-[20vh] px-1
	.btn
		&.button-to-top
			box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04)
			@apply bg-white rounded-full h-full
			.btn-icon
				@apply rem:sq-[48px]
			.icon
				animation: none !important
				@apply sq-12  flex-center
				@apply relative overflow-hidden
				&:hover
					&::after
						@apply translate-y-0 opacity-100
					&::before
						@apply translate-y-[-150%]
				&::after
					@apply translate-y-[150%] opacity-0
				&::before,&::after
					content: '\f062'
					@apply font-awesome text-lg  font-light transition-300 absolute text-Primary-1
	.btn
		@apply rem:sq-[40px] flex rounded-r-none
		@apply w-fit transition-300
		// @screen -md
		// 	@apply rem:sq-[40px]
		&:nth-child(2)
			.btn-icon
				i
					@apply font-black #{!important}
		&.btn-social
			.content
				ul
					@apply gap-2
					li
						img
							@apply max-w-none #{!important}
						a
							@apply sq-8 inline-flex items-center justify-center
							i
								@apply font-normal
		&:hover
			transform: translateX(0)
		.btn-icon
			@apply h-full flex-center rem:sq-[40px] overflow-hidden
			// @screen -md
			// 	@apply w-10 h-10 p-1
			.icon
				// animation: ring 1s ease-in-out infinite both
				@apply text-Utility-white
				i
					@apply font-black rem:text-[32px] text-Primary-1
					-webkit-text-stroke-width: 0.5px
					-webkit-text-stroke-color: #FFF
		.content
			@apply h-full flex items-center
			@apply pr-3 font-semibold text-white py-2 whitespace-nowrap
			ul
				@apply flex items-center gap-2 h-full
				@apply border-l border-white/40 pl-2
				