section.page-banner-main
	.img(class="img-ratio pt-[calc(640/1920*100rem)]")
		+PugImg()
	.content-banner 
		.container-fluid 
			h2.title About us
			.global-breadcrumb
				nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
					p
						a(href="https://oracle.webcanhcam.vn") Trang chủ
						span(class="separator")  | 
						span(class="last") Về chúng tôi