section.about-3(class="section-py !pt-0")
	.container 
		.wrapper-main
			-for(var i = 0; i < 2; i++)
				.wrapper(class="grid md:grid-cols-2 items-center")
					.col-left
						.content-top(class="mb-base")
							.sub-title(class="heading-4 font-semibold text-Utility-gray-500 mb-4") OUR VISION
							h2.title(class="heading-1 uppercase") OUR MISSION
						.content-bottom 
							.desc(class="body-1 font-normal font-secondary") 
								p At DLH LIME, we are committed to providing the highest quality products at the most competitive prices to deliver optimal value to our customers.
					.col-right 
						.img 
							a(href="#" class="img-ratio ratio:pt-[440_660] zoom-img") 
								+PugImg()