section.about-3
	.container-full
		.about-3-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.img
						img(src="./img/bg-banner-home.png", alt="")
				.swiper-slide
					.img
						img(src="./img/big_image.png", alt="")
				.swiper-slide
					.img
						img(src="./img/text.jpg", alt="")
				.swiper-slide
					.img
						img(src="./img/1.jpg", alt="")
				.swiper-slide
					.img
						img(src="./img/bg-banner-home.png", alt="")
				.swiper-slide
					.img
						img(src="./img/big_image.png", alt="")
				.swiper-slide
					.img
						img(src="./img/text.jpg", alt="")
				.swiper-slide
					.img
						img(src="./img/1.jpg", alt="")

