mixin ProductItem(item)
	.product-item
		.img
			a(href="#") 
				+PugImg("./img/pro1.png")
		.content
			h3.title
				a(href="#") Photocopy Ricoh Aficio MP 6054
			.tags
				span.tag.discount -20%
				span.tag.bestseller bestseller
			.price
				span.current 10,250,000đ
				span.old 12,725,000đ
			.specs
				ul
					li
						span.icon
							i(class="fa-solid fa-check")
						span Tốc độ copy: 43 tờ/ phút
					li
						span.icon
							i(class="fa-solid fa-check")
						span Khổ giấy: A4 - A5 - A6
					li
						span.icon
							i(class="fa-solid fa-check")
						span Tiện ích: In qua mạng - đảo 2 mặt tự động
